@import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap');


body{
    background-image: url('../images/pizzaday.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
}

